<img src="logo-spegc.svg" width=30%>

# Python básico

https://docs.python.org/3/tutorial/index.html

http://www.utic.edu.py/citil/images/Manuales/Python_para_todos.pdf

## Tipos de datos

In [ ]:
a = 1  # Enteros
b = 1.0  # Flotantes
c = 1.0+0.0j  # Complejos
d = "1"  # String Unicode
e = r"1"  # String raw
print(a)
print(b)
print(c)
print(d)
print(e)
u = u"Hola\n"
r = r"Hola\n"
print(u)
print(r)

1
1.0
(1+0j)
1
1
Hola

Hola\n

In [ ]:
s1 = "Hola"
s2 = "Pepe"
print(s1 + " " + s2)

s="ja"
print(s*5)
#print(s1-s2)

Hola Pepe
jajajajaja

## Colecciones

### Listas

https://docs.python.org/3/tutorial/datastructures.html#looping-techniques

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]
print(l[3])
l.append(10)
print(l)
l.extend([11, 12, 13])
print(l)
l.insert(0, 4)
print(l)
print(l.index(4))
l.sort()
print(l)

4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
0
[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

- **list.append(x)** Añade un item al final de la lista.
- **list.extend(iterable)** Extiende la lista añadiendo items desde un iterable.
- **list.insert(i, x)** Inserta un item en una posición dada.
- **list.remove(x)** Elimina el primer item de la lista con el valor "x".
- **list.pop([i])** Extrae y devuelve el item en la posición dada.
- **list.clear()** Elimina todos los items de la lista.
- **list.index(x[, start[, end]])** Devuelve el índice de la primera ocurrencia del valor "x".
- **list.count(x)** Devuelve el número de veces que "x" aparece en la lista.
- **list.sort(key=None, reverse=False)** Ordena los elementos de la lista.
- **list.reverse()** Invierte la lista.
- **list.copy()** Devuelve una copia de la lista.

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]

print(l[2:5])
print(l[:5])
print(l[3:])
print(l[3:-1])
print(l[::2])
print(l[1::2])
print(l[-1::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Del

Hay una manera de eliminar un elemento de una lista dado su índice en lugar de su valor: la instrucción **del**. Esto difiere del método **pop()**, que devuelve un valor. La declaración **del** también se puede usar para eliminar sectores de una lista o borrar toda la lista.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8]
del l[0]
print(l)
del l[2:4]
print(l)
del l

[2, 3, 4, 5, 6, 7, 8]
[2, 3, 6, 7, 8]

### Usando listas como pilas

In [ ]:
stack = [2, 3, 4]
stack.append(5)
print(stack)
t = stack.pop()
print(t, stack)

[2, 3, 4, 5]
5 [2, 3, 4]

### Tuplas

In [ ]:
t1 = (1, 2, 3, 4, 5)
t2 = ("Hola", 38, 'a', 233.998)
t3 = 10, 11, 12

### Diccionarios

In [ ]:
TCPIP = {"Telnet": 23, "SSH": 22, "FTP": 21, "HTTP": 80}

print(TCPIP["SSH"])

22

In [ ]:
TCPIP = {"Telnet": 23, "SSH": 22, "FTP": 21, "HTTP": 80}

print(TCPIP.keys())
print(TCPIP.values())

for k in TCPIP.keys():
    print(k, TCPIP[k])
    
for i in TCPIP.items():
    print(i)

dict_keys(['Telnet', 'SSH', 'FTP', 'HTTP'])
dict_values([23, 22, 21, 80])
Telnet 23
SSH 22
FTP 21
HTTP 80
('Telnet', 23)
('SSH', 22)
('FTP', 21)
('HTTP', 80)

## Estructuras de control de flujo

### if

In [ ]:
a=5
if a >= 5:
    print("Mayor o igual")
    print("No more!")

Mayor o igual
No more!

In [ ]:
a=3
if a >= 5:
    print("Mayor o igual")
else:
    print("Menor")

Menor

In [ ]:
a=5
if a > 5:
    print("Mayor")
elif a < 5:
    print("Menor")
else:
    print("Igual")

Igual

In [ ]:
a = 5
par_impar = "par" if (a % 2 == 0) else "impar"
print(par_impar)

impar

### while

In [ ]:
a = 0
while a<5:
    print(a)
    a += 1

0
1
2
3
4

In [ ]:
a = 0
while True:
    print(a)
    a += 1
    if a > 4:
        break

0
1
2
3
4

In [ ]:
a = 0
while a<5:
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5

### for ... in

In [ ]:
seq = ['a', 'b', 'c', 'd', 'e', 'f']
for e in seq:
    print(e)

a
b
c
d
e
f

In [ ]:
for e in range(5):
    print(e)

0
1
2
3
4

In [ ]:
seq1 = ['a', 'b', 'c', 'd', 'e', 'f']
seq2 = [0, 1, 2, 3, 4, 5, 6]
for e1, e2 in zip(seq1, seq2):
    print(e1, e2)

a 0
b 1
c 2
d 3
e 4
f 5

In [ ]:
seq1 = ['a', 'b', 'c', 'd', 'e', 'f']
for e1, e2 in zip(range(len(seq1)), seq1):
    print(e1, e2)

0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
seq1 = ['a', 'b', 'c', 'd', 'e', 'f']
for e1, e2 in enumerate(seq1):
    print(e1, e2)

0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
[i+"b" for i in seq1 if i != "a"]

['bb', 'cb', 'db', 'eb', 'fb']

-----------------

## <span style="color:orange">Ejercicios</spam>

<code>lista = [5, 6, 2, 8, 9, 8, 4, 3, 11, 3, 5, 3, 12]</code>

- Hallar la media de los valores de la lista.
- Crear una lista solo con los valores mayores que 5.
- Invertir la lista.
- Ordenar la lista de menor a mayor.
- Crear un diccionario donde su clave (key) sea el propio valor y su valor (value) sea su cuadrado.

-----------------

## Funciones

In [ ]:
def suma(x, y):
    return x+y

r = suma(3, 5)
print(r)

8

In [ ]:
def suma_y_resta(x, y):
    return x+y, x-y

print(suma_y_resta(3, 4))

(7, -1)

In [ ]:
def suma1(*x):
    aux = 0
    for i in x:
        aux += i
    return aux

def suma2(*x):
    return sum(x)

print(suma1(1,2,3))
print(suma2(1,2,3))

6
0

In [ ]:
def test_var_kwargs(farg, **kwargs):
    print("formal arg:", farg)
    print(kwargs)
    for key in kwargs:
        print("another keyword arg: %s: %s" % (key, kwargs[key]))

test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
{'myarg2': 'two', 'myarg3': 3}
another keyword arg: myarg2: two
another keyword arg: myarg3: 3

In [ ]:
def test_var_args_call(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

kwargs = {"arg3": 3, "arg2": "two"}
test_var_args_call(1, **kwargs)

arg1: 1
arg2: two
arg3: 3

-----------------

## <span style="color:orange">Ejercicios</spam>


- Crear una función que devuelva **True** si un número es par y **False** en caso contrario.
- Crear una función que devuelva el número de elementos que tiene una lista dada como parámetro de entrada.
- Crear una función factorial.
- Crear una función factorial de forma recursiva.

-----------------

## Scopes and Namespaces Example

In [ ]:
spam="Fuera"
print(id(spam))

def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        # spam='another local spam'
        nonlocal spam
        print(id(spam))
        spam = "nonlocal spam"

    def do_global():
        global spam
        print(id(spam))
        #spam = "global spam"

    spam = "test spam"
    print(id(spam))
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

## Clases
https://docs.python.org/3.6/tutorial/classes.html

In [ ]:
class Vehicle:
    
    CO = 5  # Static variable
    
    def __init__(self, license_plate, year):
        self.license_plate = license_plate
        self.year = year
        self.itv = []

    def ITV(self, year):
        self.itv.append(year)
        print("ITV:", self.itv)
        
        
c1 = Vehicle("FCR3456", 2010)
c1.ITV(2010)
c1.ITV(2012)
print("Año de fabricación:", c1.year)

c2 = Vehicle("GDK3988", 2011)
c2.ITV(2013)

print(c1.CO)
print(c2.CO)
Vehicle.CO = 7
print(id(c1.CO))
print(id(c2.CO))

ITV: [2010]
ITV: [2010, 2012]
Año de fabricación: 2010
ITV: [2013]
5
5
4305328704
4305328704

### Herencia

In [ ]:
class Instrumento:
    
    def __init__(self, precio):
        self.precio = precio

    def tocar(self):
        print("Estamos tocando música")
        
    def romper(self):
        print("Eso lo pagas tú")
        print("Son", self.precio, "$$$")

class Bateria(Instrumento):
    pass

class Guitarra(Instrumento):
    pass

### Métodos especiales

In [ ]:
class Vehicle:
    
    CO = 5  # Static variable
    
    def __init__(self, license_plate, year):
        self.license_plate = license_plate
        self.year = year
        self.itv = []

    def ITV(self, year):
        self.itv.append(year)
        print("ITV:", self.itv)
        
    def __str__(self):
        return self.license_plate

    def __eq__(self, other):
        return self.year == other.year

    def __ne__(self, other):
        return self.year != other.year

    def __lt__(self, other):
        return self.year < other.year

    def __le__(self, other):
        return self.year <= other.year

    def __gt__(self, other):
        return self.year > other.year

    def __ge__(self, other):
        return self.year >= other.year
    
# __new__(cls, args)
# __del__(self)
# __len__(self)

c1 = Vehicle("GDY3403", 2009)
c2 = Vehicle("FGB9903", 2011)
c3 = Vehicle("FHF9903", 2011)

if c1 < c2:
    print("Menor")

if c3 > c1:
    print("Menor")

if c2 == c1:
    print("Igual")

if c2 == c3:
    print("Igual")
    
print(c1)

Menor
Menor
Igual
GDY3403

-----------------

## <span style="color:orange">Ejercicios</span>


- Define una clase para instanciar modelos de televisión. Introduce propiedades como: pulgadas, precio, tecnología...

-----------------

## Programación funcional

### Funciones de orden superior

In [ ]:
def saludar(lang):
    def saludar_es():
        print("Hola")

    def saludar_en():
        print("Hi")

    def saludar_fr():
        print("Salut")

    lang_func = {"es": saludar_es,
        "en": saludar_en,
        "fr": saludar_fr}

    return lang_func[lang]

f = saludar("es")
f()

Hola

### map(function, iterable, ...)

In [ ]:
def cuadrado(x):
    return x*x

l = [1, 2, 3, 4, 5, 6, 7, 8]
l2 = map(cuadrado, l)

for i in l2:
    print(i)

1
4
9
16
25
36
49
64

### filter(function, iterable)

In [ ]:
def par(x):
    return x % 2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8]
lpar = filter(par, l)

for i in lpar:
    print(i)

2
4
6
8

### Funciones lambda

In [ ]:
sum = lambda x, y : x + y

print(sum(3, 4))

7

### Ordenación de listas

In [ ]:
l = [2, 5, 7, 3, 1, 9, 5, 4]

lo = sorted(l)
print(lo)

[1, 2, 3, 4, 5, 5, 7, 9]

-----------------

## <span style="color:orange">Ejercicios</span>


- Ordenar la lista de TVs anterior por precio
- Ordenar la lista de TVs anterior por pulgadas
- Aplicar un 15% de descuento a todas las TVs de la lista
- Aplicar un 20% de descuento solo a las TVs de más de 45''


-----------------

## Comprensión de listas

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

l2 = [i**2 for i in l]
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

l2 = [i**2 for i in l if i%2==0]
print(l2)

[4, 16, 36, 64]

In [ ]:
def par(x):
    return x % 2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8]
lpar = filter(par, l)

l2 = [i**2 for i in lpar]
print(l2)

[4, 16, 36, 64]

### Generadores

In [ ]:
l3 = ((i, j) for i in zip(l, l2))
print(l3)

<generator object <genexpr> at 0x106704620>

In [ ]:
def reverse(data):
    for index in range(len(data)-1, -1, -1):
        yield data[index]
                
for char in reverse('Dábale arroz a la zorra el abad'):
    print(char)

-----------------

## <span style="color:orange">Ejercicios</span>

<code>lista = [5, 6, 2, 8, 9, 8, 4, 3, 11, 3, 5, 3, 12]</code>

- Crear un generador que devuelva los múltiplos de 3 de la lista.
- Crear una nueva lista (mediante comprensión de listas) con los múltiplos de 3 de la lista.


-----------------

## Decoradores

In [ ]:
# del(sum) # Ojo! Hay que borrarla pq la tenemos redefinida arriba

def decora(func):
    def retorna(*args):
        resultado = func(*args)
        s = ""
        for x in args[:-1]:
            s += str(x)+"+"
        s += str(args[-1]) + "="
        print("Suma: " + s + str(resultado))
        return resultado
    return retorna

@decora
def suma(*args):
    return sum(args)
    
suma(1, 2, 3, 4)
# decora(suma)(1, 2, 3, 4)

Suma: 1+2+3+4=10

10

## Patrón de diseño Memoize

In [ ]:

def memoize(f):
    memo = {}
    def helper(x):
        if x not in memo:
            memo[x] = f(x)
        return memo[x]
    return helper


#@memoize
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)


#fib = memoize(fib)
#print(fib(40))

import time

for i in range(1, 39):
    t1 = time.time()
    print(fib(i))
    print("Tiempo: ", i, " -- ", time.time()-t1)

## Módulos y paquetes

Para la organización de todo nuestro código es necesario crear **módulos**, donde almacenaremos todas las clases y funciones relacionadas. Físicamente, el **módulo** es un fichero donde se encuentra este código.

Los módulos los importamos con la palabra **import**

In [ ]:
# Fichero "mimodulo.py"

def suma(x, y):
    return x + y

class persona:
    def __init__(self, name):
        self.name = name
        
    def imprime(self):
        print(self.name)

valor = 1234

In [ ]:
import mimodulo as mm

p1 = mm.persona("Juan")
p1.imprime()

print(mm.valor)

Juan
1234

De la misma forma que organizamos el código en módulos, organizaremos nuestros módulos en **paquetes**. De esta forma, si los módulos son ficheros, ahora los paquetes serán directorios. La forma que tiene Python de hacer que tome un directorio como paquete es incluyendo un fichero de nombre <code>\__init__.py</code>, el cual puede estar vacío.